<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Application1.Properties.Settings.BUSINESSConnectionString"
            connectionString="Data Source=METHOD-PC;Initial Catalog=BUSINESS;Persist Security Info=True;User ID=sa;Password=Method2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>